{% extends "base.html" %}

{% block content %}
    <h2>Register</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=20) }}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=20) }}
        </div>
        <div>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=20) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}

